
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .layout-main-section{
    background-color: white !important
    ;
  }
@media (max-width: 768px){
    .col-md-6.layout-main-section-wrapper-{
        display: grid;
        justify-content: center;
    }

}
@media (min-width: 768px){
    .layout-main-section-{
        position: absolute;
        bottom: 0;
        left: 0;
        top: 100px;
    }

}

.btn-image-search{
    display: flex;
    justify-content: center;
}
.btm-primary{
  border-color: rgba(15, 222, 202, 0.8901960784) !important;
    background-color: rgba(28, 157, 143, 0.8784313725) !important;
}
.btn-sm-image{
    /* background: #0090818a !important; */
    border-color: #57b6ac!important;
    background-color: #57b6ac!important;
    margin-top: 23px;
    font-size: 15px;
}
.primary-action{
    padding: 10px;
}

.Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
    
  
  }
  .Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Neon-input-dragDrop {
    display: block;
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 25px;
    color: #8d9499;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  .Neon-input-dragDrop .Neon-input-icon {
    font-size: 48px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
  }
  .Neon-input-text span {
    font-size: 12px;
  }
  .Neon-input-choose-btn.blue {
    color: #008BFF;
    border: 1px solid #008BFF;
  }
  .Neon-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  

  .slider {
    position: relative;
    width: 800px;
    margin: 0 auto;
  }
  
  
.image-search-form{
    margin-top: 31px;
}
/* .form-control-{
    border: 1px solid #00908170;
} */
.image-search-title{
    text-align: center;
    background: #0090818a;
    border-radius: 6px;
    padding: 10px;
    font-weight: 400;
}

.table {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table,td{
    border: 1px solid #1819194f;
  }
 
  
  .image-search-div{
    display: flex;
    justify-content: center;
  }
  .matching-image{
    width: 103%;
    position: relative; 
    text-align: center;
    margin-bottom:100px;
  }
  .matching-percentage{
    position: absolute; top: 104%; left: 50%; transform: translate(-50%, -50%)
  }
.primary-action-{
    position: absolute; top: 100%; left: 50%; transform: translate(-50%, -60%);
    background: #570090b3 !important;
}
@media (max-width:768px){
    .matching-percentage{
        position: initial; 
        top: 105%; 
        left: 50%; 
        transform: translate(0, 0)
      }
      .primary-action-{
        position: initial; 
        top: 70%; left: 50%; 
        transform: translate(0, 0)
    }
}
  .matchingimage{
    border-radius: 10px;
  }
  .resultImage{
    border-radius: 10px;
  }





.card-image {
  border-radius: 6px;
  padding: 0!important;
  margin-bottom: 40px;
  border: 1px solid #e5e9ec;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  background-color: #fff;
  background-clip: border-box;
  /* height: 96%; */
}
.card-body-image{
  padding: 25px!important;
  position: relative!important;
  height: 464px;
}
.navigate-details{
  position: relative;
    display: flex;
    left: 36%;
    top: 24px;
}
@media (max-width:765px){
  .card-body-image{
    height: 517px;
  }
}
@media (max-width:320px){
  .card-body-image{
    height: 510px;
  }
}
@media(max-width:765px){
  .navigate-details{
    display: grid !important;
    position: relative !important;
    left: 38px !important;
    top: 11px !important;
  }
}
@media(min-width:770px) and (max-width:1000px){
  .primary-action-image{
    display: grid !important;
    position: relative !important;
    top: 11px !important;
  }
  .card-body-image{
    height: 518px;
  }
}
.card-title-image{
  padding: 0;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
  font-weight: 700;
}
.card-image-search{
  border: 2px solid #ccc;
  border-radius: 12px;
}
@media(max-width: 768px){
  .row{
    display: block;
  }
}
.search-image-section{
    display: grid;
    justify-content: center;
}


#preview-image {
  width: 913px;
  height: 486px;
  background: #eee;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  columns: 600px 1;
  border: 1px solid #4f4545;
  margin-top: -8px;
}
@media(max-width:768px){
  #preview-image{
    width: 100%;
  }
}
#upload-area {
  width: 40vw;
  height: auto;
  margin: auto;
}
.preview_search_image_aug{
  border-radius: 6px;
    display: grid;
    margin: 6px;
    border: 1px solid;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.preview_seg_image{
  border-radius: 6px;
    display: grid;
    margin: 6px;
    border: 1px solid;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  background: #eee;
} */

/* .img {
  width: 100%;
  height: auto;
  border-radius: 0 0 10px 10px;
} */
#placeholder {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  background: url("https://avatars.mds.yandex.net/i?id=ac9425f0536b1cc38165d187ca0db7fcfce1f2f6-9181395-images-thumbs&n=13");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
#inputImage {
  display: none;
  width: 600px;
  color: black;
  background: none;
  cursor: pointer;
}
/* 
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1d6;
  height: auto;
  min-height: 100vh;
} */
@media(max-width:768px){
  #inputLabel{
    width: 100% !important;
  }
}

#inputLabel {
  height: 80px;
  width: 100%;
  background: #57b6ac;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  border: 1px solid #57b6ac;
  font-size: 17px;
}
.pulse-text {
  animation: pulse 1s infinite alternate;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
#inputLabel::after {
  content: "";
  border-top: 25px solid white;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0px;
}
#inputLabel::before {
  content: "";
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid white;
  height: 0;
  width: 0;
  position: absolute;
  top: 27px;
}
#finput {
  display: none;
  width: 600px;
  color: black;
  background: none;
  cursor: pointer;
}
canvas {
  height: auto;
  width:100%;
}

.card-title-image{
  text-align: center;
}
.card-image{
  margin-bottom: 15px;
  /* background-color: beige; */
}
.card-body-image{
  /* background-color: beige; */
  border: 1px solid lightgray;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

}
@media(max-width:768px){
  .primary-action-image{
    display: grid;
    position: relative;
    left: 100px;
    top: 11px;
  }
}

/* @media(min-width:768px){
  .primary-action-image{
    display: grid;
    position: relative;
    left: 133px;
    top: 11px;
  }
} */
.preview_search_image{
  max-height: 416px;
  object-fit: initial;
  width: 63%;
}


.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px; 
  margin-left: -25px; 
  display: none; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
:root {
  --background: #ffffff;
  --progress-background: rgba(0, 0, 0, 0.25);
  --first: #353535;
  --second: #3c6e71;
  --third: #d9d9d9;
  --fourth: #284b63;
  --green: #355070;
  --turquoise: #6d597a;
  --blue: #b56576;
  --light-blue: #e56b6f;
  --purple: #eaac8b;
  --red: #ff2d55;
}

/* body {
  background: var(--background);
} */

/* .container {
  margin: 100px auto;
  width: 600px;
  text-align: center;
} */



/* Progress2 styles */
.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  position: absolute;
  top: 62%;
  left: 40%;
  width: 28%;
  height: auto;
  display: none; 
}

.progress-bar2 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: width 0.4s linear, background-color 0.4s linear;
}

.progress-moved .progress-bar2 {
  width: 100%;
  background-color: #1c8278;
  animation: progressAnimation 6s;
}
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: #fff; /* Set text color */
  font-weight: bold; /* Optionally set font weight */
}

@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: #f9bcca;
  }
  100% {
    width: 85%;
    background-color: #ef476f;
  }
}



.btn.btn-primary{
  background-color: #159085 !important;
}
.row layout-main{
  margin-top: -50px;
}

@media (min-width:1200px){
  .form-group{
    width: 95%;
  }
}

@media (max-width:768px){
  .pulse-text{
    font-size: 10px;
  }
}


.image-container {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 170px;
  /* overflow: hidden; */
}


.remove-icon {
    top: 10px;
    right: 20px;
    color: #5e5c5cde;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 18px;
    position: absolute;
}

.remove-icon:hover {
  transform: scale(1.2); /* Scale the icon on hover */
}
.form-column{
  display: grid;
  justify-content: center;
}
.dimension-form{
  padding: 15px;
} 
@media (min-width:1440px){
  .dimension-form{
    width: 178%;
  }
}

#preview-image-dimensions{
  width: 303px;
    height: 496px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    columns: 600px 1;
    border: 1px solid #4f4545;
    margin-top: -8px;
    bottom: 10px;
}
@media(max-width:768px){
  #preview-image-dimensions{
    width: 100%;
  }
}
@media (min-width:1024px) {
  .order-first{
    display: contents;
    justify-content: end;
  }
}

@media(max-width:768px){
  #inputLabelDimensions{
    width: 100% !important;
  }
}

#inputLabelDimensions {
  height: 80px;
  width: 303px;
  background: #57b6ac;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  border: 1px solid #57b6ac;
  font-size: 17px;
}


.input[type=checkbox]:checked{
  background-color: #44bcb1 !important;
}
.input-max-width{
  font-size: 17px;
}

.grid-container {
  /* display: grid; */
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  grid-gap: 10px; /* Adjust as needed */
}

.grid-item {
  /* Optional styling for grid items */
  /* border: 1px solid #ccc; */
  padding: 10px;
}
#dlsegmentInput{
  width: 18px !important;
  height: 18px !important;
}
#thresholdInput{
  width: 18px !important;
  height: 18px !important;
}
.searchImageTitle{
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 20px;
  background-color: #44bcb1cc;
  margin-bottom: 5px;
  position: relative;
  left: 6px;
}