<!-- {% extends 'templates/form.html' %} -->

<!-- {% block script %}
    {{ frappe.form_script('ai_image_search.js') }}
{% endblock %} -->

<!-- {% block page_content %} -->

<div class="row layout-main">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-12 layout-main-section-wrapper">
        <div class="layout-main-section">
            <div class="page-form row hide"></div>
            <!-- <h3 class="ellipsis title-text">Search Image:</h3> -->
            <div class="search-image-section">
                <label for="finput" class="image_upload"  id="inputLabel">Click Here to upload image</label>
                    <input type="file" multiple="false" class="previewImage" accept="image/*" id="finput">
                    <div id="preview-image">
                        <img class="preview_search_image" id="uploaded-image" src="https://avatars.mds.yandex.net/i?id=ac9425f0536b1cc38165d187ca0db7fcfce1f2f6-9181395-images-thumbs&n=13" />
                    </div>
                    <canvas id="canv1" style="display: none;"></canvas>
                <!-- <div class="Neon Neon-theme-dragdropbox"> 
                    <input type="file"  accept="image/*" 
                        style="z-index: 999; opacity: 0; width: 320px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;">
                    <div class="Neon-input-dragDrop">
                        <div class="Neon-input-inner">
                            <div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div>
                            <div class="Neon-input-text" >
                                <img id="output" width="200" />
                                <h3>Upload files here</h3>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="image-upload-container"></div> -->
            </div>
            <div class="btn-image-search">
                <!-- <a href="http://jkfennerimageprocess.localhost.com:8000/app/ai-image-details" style="color: white;"> -->
                    <button id="matchingImageButton" class="btn btn-primary btn-sm-image primary-action navigate-button" data-label="Pick the matching image" onclick="pickMatchingImage()">
                        Pick the matching image
                    </button>
                <!-- </a> -->
            </div>
        </div>    
    </div>
    <!-- <div class="col-md-2"></div> -->
</div>
<br/><br/><br/>
<div class="row layout-main">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-12 layout-main-section-wrapper">
        <div class="layout-main-section">
            <div class="page-form row hide"></div>
            <!-- <h3 class="ellipsis title-text">Search Image:</h3> -->
        <div class="preview-section hide">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <!-- <div class="col">
                  <div class="card-image">
                    <img src="/assets/jkfenner_image_process/images/E70657-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body-image">
                      <h5 class="card-title-image">Matching Percentage : 90%</h5>
                      <button class="btn btn-primary btn-sm primary-action-image" >View Details</button>
                    </div>
                  </div>
                </div> -->
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 90%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-1.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 100.00</p>
                            <p>Image Similarty Score:67.09</p>
                            <p>ID A:20.0,ID B:30.0,ID C:235.0</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                    
                </div>
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 80%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-3.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 60.00</p>
                            <p>Image Similarty Score:50.09</p>
                            <p>ID A:30.0,ID B:10.0,ID C:105.0</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 70%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-2.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 70.25</p>
                            <p>Image Similarty Score:46.09</p>
                            <p>ID A:12.9,ID B:20.6,ID C:125.0</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 60%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-4.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 65.20</p>
                            <p>Image Similarty Score:26.09</p>
                            <p>ID A:50.0,ID B:20.2,ID C:10.0</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-4 g-4">
                <!-- <div class="col">
                  <div class="card-image">
                    <img src="/assets/jkfenner_image_process/images/E70657-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body-image">
                      <h5 class="card-title-image">Matching Percentage : 90%</h5>
                      <button class="btn btn-primary btn-sm primary-action-image" >View Details</button>
                    </div>
                  </div>
                </div> -->
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 50%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-5.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 55.26</p>
                            <p>Image Similarty Score:52.09</p>
                            <p>ID A:30.12,ID B:40.6,ID C:20.0</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                    
                </div>
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 40%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-6.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 49.25</p>
                            <p>Image Similarty Score:67.52</p>
                            <p>ID A:63.51,ID B:29.0,ID C:523.0</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 30%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/R7404808 W.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 35.25</p>
                            <p>Image Similarty Score:56.23</p>
                            <p>ID A:53.29,ID B:36.12,ID C:23.0</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                </div>
                <div class="col">
                    <div class="card-image">
                        <div class="card-body-image" style="height: 440px;">
                            <h5 class="card-title-image">Matching Percentage: 20%</h5>
                            <div class="card-image-search">
                                <img style="height: 221px;object-fit: scale-down;" class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/R7404809 W.jpg" alt="Matching Image">
                            </div>
                            <p>Struct dim Similarty Score: 20.85</p>
                            <p>Image Similarty Score:26.56</p>
                            <p>ID A:23.55,ID B:78.26,ID C:54.23</p>
                            <button class="btn btn-primary btn-sm primary-action-image navigate-details" >View Details</button>
                        </div> 
                    </div>
                </div>
              </div>
            </div>
        </div>    
    </div>
    <!-- <div class="col-md-2"></div> -->
</div>
<!-- {% endblock %} -->

  

 