
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .layout-main-section{
    background-color: white !important
    ;
  }
@media (max-width: 768px){
    .col-md-6.layout-main-section-wrapper-{
        display: grid;
        justify-content: center;
    }

}
@media (min-width: 768px){
    .layout-main-section-{
        position: absolute;
        bottom: 0;
        left: 0;
        top: 100px;
    }

}

.btn-image-search{
    display: flex;
    justify-content: center;
}
.btm-primary{
  border-color: rgba(15, 222, 202, 0.8901960784) !important;
    background-color: rgba(28, 157, 143, 0.8784313725) !important;
}
.btn-sm-image{
    /* background: #0090818a !important; */
    border-color: #57b6ac!important;
    background-color: #57b6ac!important;
    margin-top: 23px;
    font-size: 15px;
}
.primary-action{
    padding: 10px;
}

.Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
    
  
  }
  .Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Neon-input-dragDrop {
    display: block;
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 25px;
    color: #8d9499;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  .Neon-input-dragDrop .Neon-input-icon {
    font-size: 48px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
  }
  .Neon-input-text span {
    font-size: 12px;
  }
  .Neon-input-choose-btn.blue {
    color: #008BFF;
    border: 1px solid #008BFF;
  }
  .Neon-input-choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  

  .slider {
    position: relative;
    width: 800px;
    margin: 0 auto;
  }
  
  
.image-search-form{
    margin-top: 31px;
}
/* .form-control-{
    border: 1px solid #00908170;
} */
.image-search-title{
    text-align: center;
    background: #0090818a;
    border-radius: 6px;
    padding: 10px;
    font-weight: 400;
}

.table {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table,td{
    border: 1px solid #1819194f;
  }
 
  
  .image-search-div{
    display: flex;
    justify-content: center;
  }
  .matching-image{
    width: 103%;
    position: relative; 
    text-align: center;
    margin-bottom:100px;
  }
  .matching-percentage{
    position: absolute; top: 104%; left: 50%; transform: translate(-50%, -50%)
  }
.primary-action-{
    position: absolute; top: 100%; left: 50%; transform: translate(-50%, -60%);
    background: #570090b3 !important;
}
@media (max-width:768px){
    .matching-percentage{
        position: initial; 
        top: 105%; 
        left: 50%; 
        transform: translate(0, 0)
      }
      .primary-action-{
        position: initial; 
        top: 70%; left: 50%; 
        transform: translate(0, 0)
    }
}
  .matchingimage{
    border-radius: 10px;
  }
  .resultImage{
    border-radius: 10px;
  }





.card-image {
  border-radius: 6px;
  padding: 0!important;
  margin-bottom: 40px;
  border: 1px solid #e5e9ec;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
  background-color: #fff;
  background-clip: border-box;
  /* height: 96%; */
}
.card-body-image{
  padding: 25px!important;
  position: relative!important;
}
.card-title-image{
  padding: 0;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 0;
  font-weight: 700;
}
.card-image-search{
  border: 2px solid #ccc;
  border-radius: 12px;
}
@media(max-width: 768px){
  .row{
    display: block;
  }
}
.search-image-section{
    display: grid;
    justify-content: center;
}










#preview-image {
  width: 600px;
  height: auto;
  background: #eee;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  columns: 600px 1;
  border: 1px solid #4f4545;
  margin-top: -8px;
}
@media(max-width:768px){
  #preview-image{
    width: 100%;
  }
}
#upload-area {
  width: 40vw;
  height: auto;
  margin: auto;
}

/* a {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  background: #eee;
} */

/* .img {
  width: 100%;
  height: auto;
  border-radius: 0 0 10px 10px;
} */
#placeholder {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  background: url("https://avatars.mds.yandex.net/i?id=ac9425f0536b1cc38165d187ca0db7fcfce1f2f6-9181395-images-thumbs&n=13");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
#inputImage {
  display: none;
  width: 600px;
  color: black;
  background: none;
  cursor: pointer;
}
/* 
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1d6;
  height: auto;
  min-height: 100vh;
} */
@media(max-width:768px){
  #inputLabel{
    width: 100% !important;
  }
}

#inputLabel {
  height: 100px;
  width: 600px;
  background: #57b6ac;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  border: 1px solid #57b6ac;
}
#inputLabel::after {
  content: "";
  border-top: 25px solid white;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 5px;
}
#inputLabel::before {
  content: "";
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid white;
  height: 0;
  width: 0;
  position: absolute;
  top: 45px;
}
#finput {
  display: none;
  width: 600px;
  color: black;
  background: none;
  cursor: pointer;
}
canvas {
  height: auto;
  width:100%;
/*   border-style: solid; */
/*   border-width: 1px; */
/*   border-color: black; */
}
/* #finput{
  height: 100px;
  width: 600px;
  background: #0b2447;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  border: 1px solid black;
}
#finput::after{
   content: "";
  border-top: 25px solid white;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 5px;
}
#finput::before{
  content: "";
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid white;
  height: 0;
  width: 0;
  position: absolute;
  top: 45px;
} */

.card-title-image{
  text-align: center;
}
.card-image{
  margin-bottom: 15px;
  /* background-color: beige; */
}
.card-body-image{
  /* background-color: beige; */
  border: 1px solid lightgray;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

}
@media(max-width:768px){
  .primary-action-image{
    display: grid;
    position: relative;
    left: 100px;
    top: 11px;
  }
}

@media(min-width:768px){
  .primary-action-image{
    display: grid;
    position: relative;
    left: 133px;
    top: 11px;
  }
}
.preview_search_image{
  max-height: 384px;
  object-fit: scale-down;
  width: 100%;
}


.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px; /* Half of the height */
  margin-left: -25px; /* Half of the width */
  display: none; /* Initially hide the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btn.btn-primary{
  background-color: #159085 !important;
}




