.DS_Store
*.pyc
*.egg-info
*.swp
tags
jkfenner_image_process/docs/current
node_modules/
*.feather
*.pth
jkfenner_image_process/public/dist/
jkfenner_image_process/public/images/machine_learning/augment_images/