 <!-- {% extends 'jkfenner_image_process/page/ai_image_search.html' %} -->
<!-- {% block page_content %} -->
<div class="main-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="layout-main-section" id="element-to-print">
                    <div class="page-form row hide"></div>
                    <br/><br/>
                    <button class="btn btn-primary html2PdfConverter" onclick="createPDF()">html to PDF </button>
                    <div class="slide-container">
                        <div class="slide fade">
                            <h5 id="slider-value" class="card-title-viewimage">Matching Percentage: 90%</h5>
                            <img id="slider-image" src="/assets/jkfenner_image_process/images/E70657-1.jpg" alt="Image 1">
                        </div>
                        <a href="#" class="prev" title="Previous">&#10094;</a>
                        <a href="#" class="next" title="Next">&#10095;</a>
                    </div>
                    <!-- <div class="dots-container">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div> -->
    
                    <table class="table table-bordered">
                        <caption class="captions-image">Generic Details</caption>
                        <tbody>
                            <tr>
                                <td scope="row">Domestic / Export</td>
                                <td>Export</td>
                            </tr>
                            <tr>
                                <td scope="row">Part No.</td>
                                <td>E72262</td>
                            </tr>
                            <tr>
                                <td scope="row">Part Description</td>
                                <td>DAYCO CURVED RADIATOR HO</td>
                            </tr>
                            <tr>
                                <td scope="row">SAP Asset Code</td>
                                <td>72262</td>
                            </tr>
                            <tr>
                                <td scope="row">Type of Hose</td>
                                <td>Branched</td>
                            </tr>
                            <tr>
                                <td scope="row">Toolings Created on</td>
                                <td>22-12-2023</td>
                            </tr>
                            <tr>
                                <td scope="row">EAN</td>
                                <td>1840129806607</td>
                            </tr>
                            <tr>
                                <td scope="row">UPC</td>
                                <td>840129806608</td>
                            </tr>
                            <tr>
                                <td scope="row">Customer 1 (Cross Ref)</td>
                                <td>67192</td>
                            </tr>
                            <tr>
                                <td scope="row">Customer 2 (Cross Ref)</td>
                                <td>67193</td>
                            </tr>
                            <tr>
                                <td scope="row">Customer 3,4,5 (Cross Ref)</td>
                                <td>67194</td>
                            </tr>
                        </tbody>
                    </table>
    
                    <table class="table table-bordered">
                        <caption class="captions-image">Application/Performance</caption>
                        <tbody>
                            <tr>
                                <td scope="row">Vehicle Model</td>
                                <td>SUV300</td>
                            </tr>
                            <tr>
                                <td scope="row">Application (Radiator / Heater ) </td>
                                <td>Radiator</td>
                            </tr>
                            <tr>
                                <td scope="row">Vehicle manufacturer </td>
                                <td>Mahendra</td>
                            </tr>
                            <tr>
                                <td scope="row">Vehicle Make/Year</td>
                                <td>2021</td>
                            </tr>
                            <tr>
                                <td scope="row">Sub Application </td>
                                <td>Null</td>
                            </tr>
                        </tbody>
                    </table>
    
                    <table class="table table-bordered">
                        <caption class="captions-image">Dimensions</caption>
                        <tbody>
                            <tr>
                                <td scope="row">Inner Diameter A (MM)</td>
                                <td>20.0 / 23.0 / 26.0</td>
                            </tr>
                            <tr>
                                <td scope="row">Inner Diameter B (MM)</td>
                                <td>44.0 / 48.5</td>
                            </tr>
                            <tr>
                                <td scope="row">Thickness  </td>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td scope="row">Outer Diameter A (mm)</td>
                                <td>22.2 / 24.1 / 27.2</td>
                            </tr>
                            <tr>
                                <td scope="row">Outer Diameter B (mm) </td>
                                <td>46.2 / 50.1</td>
                            </tr>
                            <tr>
                                <td scope="row">Central axis length (mm)</td>
                                <td>220 / 935 / 930 / 654 /920</td>
                            </tr>
                            <tr>
                                <td scope="row">Product weight (grams) </td>
                                <td>2.270</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<!-- {% endblock %} -->










