<!-- {% extends 'jkfenner_image_process/page/ai_image_search.html' %} -->
<!-- {% block page_content %} -->
<div class="row layout-main">
    <div class="col-md-5 layout-main-section-wrapper">
        <div class="layout-main-section">
            <div class="page-form row hide"></div>
        
            
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <div class="card-image">
                    <div class="card-body-image">
                        <h5 class="card-title-image">Matching Percentage: 90%</h5>
                        <div class="card-image-search">
                            <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-1.jpg" alt="Matching Image">
                        </div>
                        <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                    </div> 
                </div>
                <!-- <div id="matchingImageSection" class="matching-image" >
                    <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-1.jpg" alt="Matching Image">
                    <p id="matchingPercentage" class="matching-percentage">Matching Percentage: 90%</p>
                    <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                </div> -->
            </div>
            <div class="col">
                <div class="card-image">
                    <div class="card-body-image">
                        <h5 class="card-title-image">Matching Percentage: 80%</h5>
                        <div class="card-image-search">
                            <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-2.jpg" alt="Matching Image">
                        </div>
                        <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                    </div> 
                </div>
                <!-- <div id="matchingImageSection" class="matching-image" >
                    <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-1.jpg" alt="Matching Image">
                    <p id="matchingPercentage" class="matching-percentage">Matching Percentage: 80%</p>
                    <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card-image">
                    <div class="card-body-image">
                        <h5 class="card-title-image">Matching Percentage: 70%</h5>
                        <div class="card-image-search">
                            <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-3.jpg" alt="Matching Image">
                        </div>
                        <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                    </div> 
                </div>
                <!-- <div id="matchingImageSection" class="matching-image" >
                    <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-3.jpg" alt="Matching Image">
                    <p id="matchingPercentage" class="matching-percentage">Matching Percentage: 70%</p>
                    <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                </div> -->
            </div>
            <div class="col">
                <div class="card-image">
                    <div class="card-body-image">
                        <h5 class="card-title-image">Matching Percentage: 60%</h5>
                        <div class="card-image-search">
                            <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-4.jpg" alt="Matching Image">
                        </div>
                        <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                    </div> 
                </div>
                <!-- <div id="matchingImageSection" class="matching-image" >
                    <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-3.jpg" alt="Matching Image">
                    <p id="matchingPercentage" class="matching-percentage">Matching Percentage: 60%</p>
                    <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card-image">
                    <div class="card-body-image">
                        <h5 class="card-title-image">Matching Percentage: 50%</h5>
                        <div class="card-image-search">
                            <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-5.jpg" alt="Matching Image">
                        </div>
                        <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                    </div> 
                </div>
                <!-- <div id="matchingImageSection" class="matching-image" >
                    <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-5.jpg" alt="Matching Image">
                    <p id="matchingPercentage" class="matching-percentage">Matching Percentage: 50%</p>
                    <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                </div> -->
            </div>
            <div class="col">
                <div class="card-image">
                    <div class="card-body-image">
                        <h5 class="card-title-image">Matching Percentage: 40%</h5>
                        <div class="card-image-search">
                            <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-6.jpg" alt="Matching Image">
                        </div>
                        <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                    </div> 
                </div>
                <!-- <div id="matchingImageSection" class="matching-image" >
                    <img class="matchingimage w-100" id="matchingImage" src="/assets/jkfenner_image_process/images/E70657-6.jpg" alt="Matching Image">
                    <p id="matchingPercentage" class="matching-percentage">Matching Percentage: 40%</p>
                    <button class="btn btn-primary btn-sm primary-action-" >View Details</button>
                </div> -->
            </div>
        </div>
        
        
        <div class="layout-footer hide"></div>
    </div>

    <div class="col-md-7 layout-main-section-wrapper">
        <div class="layout-main-section">
            <div class="page-form row hide"></div>
            <br/><br/>
            <!-- <h3 class="ellipsis title-text">Result Details:</h3> -->
            <!-- Slider secton -->
              <!-- <div class="image-search-div">
                     <img class="resultImage" src="/assets/jkfenner_image_process/images/E70657-1.jpg">
                   </div> -->

                   <div class="slide-container">
                    <div class="slide fade">
                        <h5 class="card-title-viewimage">Matching Percentage: 90%</h5>
                      <img src="/assets/jkfenner_image_process/images/E70657-1.jpg">
                    </div>
                    <a href="#" class="prev" title="Previous">&#10094</a>
                    <a href="#" class="next" title="Next">&#10095</a>
                  </div>
                  <div class="dots-container">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                  </div>
                  
            <!-- Slider secton -->
          

            <!-- <h4 class="image-search-title">Generic Details</h4> -->
            <table class="table table-bordered">
                <caption class="captions-image">Generic Details</caption>
                <tbody>
                    <tr>
                        <td scope="row">Domestic / Export</td>
                        <td>Export</td>
                    </tr>
                    <tr>
                        <td scope="row">Part No.</td>
                        <td>E72262</td>
                    </tr>
                    <tr>
                        <td scope="row">Part Description</td>
                        <td>DAYCO CURVED RADIATOR HO</td>
                    </tr>
                    <tr>
                        <td scope="row">SAP Asset Code</td>
                        <td>72262</td>
                    </tr>
                    <tr>
                        <td scope="row">Type of Hose</td>
                        <td>Branched</td>
                    </tr>
                    <tr>
                        <td scope="row">Toolings Created on</td>
                        <td>22-12-2023</td>
                    </tr>
                    <tr>
                        <td scope="row">EAN</td>
                        <td>1840129806607</td>
                    </tr>
                    <tr>
                        <td scope="row">UPC</td>
                        <td>840129806608</td>
                    </tr>
                    <tr>
                        <td scope="row">Customer 1 (Cross Ref)</td>
                        <td>67192</td>
                    </tr>
                    <tr>
                        <td scope="row">Customer 2 (Cross Ref)</td>
                        <td>67193</td>
                    </tr>
                    <tr>
                        <td scope="row">Customer 3,4,5 (Cross Ref)</td>
                        <td>67194</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <caption class="captions-image">Application/Performance</caption>
                <tbody>
                    <tr>
                        <td scope="row">Vehicle Model</td>
                        <td>SUV300</td>
                    </tr>
                    <tr>
                        <td scope="row">Application (Radiator / Heater ) </td>
                        <td>Radiator</td>
                    </tr>
                    <tr>
                        <td scope="row">Vehicle manufacturer </td>
                        <td>Mahendra</td>
                    </tr>
                    <tr>
                        <td scope="row">Vehicle Make/Year</td>
                        <td>2021</td>
                    </tr>
                    <tr>
                        <td scope="row">Sub Application </td>
                        <td>Null</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <caption class="captions-image">Dimensions</caption>
                <tbody>
                    <tr>
                        <td scope="row">Inner Diameter A (MM)</td>
                        <td>20.0 / 23.0 / 26.0</td>
                    </tr>
                    <tr>
                        <td scope="row">Inner Diameter B (MM)</td>
                        <td>44.0 / 48.5</td>
                    </tr>
                    <tr>
                        <td scope="row">Thickness  </td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td scope="row">Outer Diameter A (mm)</td>
                        <td>22.2 / 24.1 / 27.2</td>
                    </tr>
                    <tr>
                        <td scope="row">Outer Diameter B (mm) </td>
                        <td>46.2 / 50.1</td>
                    </tr>
                    <tr>
                        <td scope="row">Central axis length (mm)</td>
                        <td>220 / 935 / 930 / 654 /920</td>
                    </tr>
                    <tr>
                        <td scope="row">Product weight (grams) </td>
                        <td>2.270</td>
                    </tr> 
                </tbody>
            </table>
            
            <!-- <form class="image-search-form">
            <div class="row">
                <div class="col">
                    <h4 class="image-search-title">Generic Details</h4>
                    <div class="form-group-image">
                        <label for="formGroupExampleInput">Domestic / Export</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    
                </div>
                <div class="col form-group">
                    <h4 class="image-search-title">Application/Performance</h4>
                    <label for="formGroupExampleInput">Vehicle Model</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                </div>
            </div>
        </form> -->
        </div>
    </div>
</div>
<!-- {% endblock %} -->
<!-- <script>
    new Splide( '#image-slider' ).mount();
  </script> -->

 










<!-- <div class="col-md-12 layout-main-section-wrapper">
    <div class="layout-main-section">
        <div class="page-form row hide"></div>
    
   

               <div class="slide-container">
                <div class="slide fade">
                  <img src="/assets/jkfenner_image_process/images/E70657-1.jpg">
                </div>
                <a href="#" class="prev" title="Previous">&#10094</a>
                <a href="#" class="next" title="Next">&#10095</a>
              </div>
              <div class="dots-container">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              
  
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <caption class="captions-image">Generic Details</caption>
                    <tbody>
                        <tr>
                            <td scope="row">Domestic / Export</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Part No.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Part Description</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">SAP Asset Code</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Type of Hose</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Toolings Created on</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">EAN</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">UPC</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Customer 1 (Cross Ref)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Customer 2 (Cross Ref)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Customer 3,4,5 (Cross Ref)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <caption class="captions-image">Application/Performance</caption>
                    <tbody>
                        <tr>
                            <td scope="row">Vehicle Model</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Application (Radiator / Heater ) </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Vehicle manufacturer </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Vehicle Make/Year</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Sub Application </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <caption class="captions-image">Dimensions</caption>
                    <tbody>
                        <tr>
                            <td scope="row">Inner Diameter A (MM)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Inner Diameter B (MM)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Thickness  </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Outer Diameter A (mm)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Outer Diameter B (mm) </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Central axis length (mm)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">Product weight (grams) </td>
                            <td></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
        

        

        
        
       
    </div>
</div> -->